<div class="col-sm-6">
  <%= @todos.each do |todo| %>
      <% if todo.completed == false %>
    <div class="well">
      <h1> <%= todo.description %> </h1>
      <p> <%= todo.completed %> </p>
      <p> <%= link_to "Ver detalle del ToDo", show_path(todo.id) %> </p>
      <p> <%= link_to "Editar detalle del ToDo", edit_path(todo.id) %> </p>
      <p> <%= link_to "Eliminar el ToDo", todo, method: :delete %> </p>
      <p> <%= link_to "Marcar este ToDo como completado", complete_path(todo.id) %> </p>
    </div>
      <% else %>
      <% end %>
    <% end %>
</div>

<div class="col-sm-6">
  <%= @todos.each do |todo| %>
      <% if todo.completed == true %>
    <div class="well">
      <h1> <%= todo.description %> </h1>
      <p> <%= todo.completed %> </p>
      <p> <%= link_to "Ver detalle del ToDo", show_path(todo.id) %> </p>
      <p> <%= link_to "Editar detalle del ToDo", edit_path(todo.id) %> </p>
      <p> <%= link_to "Eliminar el ToDo", todo, method: :delete %> </p>
      <p> <%= link_to "Marcar este ToDo como completado", complete_path(todo.id) %> </p>
    </div>
      <% else %>
      <% end %>
    <% end %>
</div>
